header {
  border-bottom: solid 5px black;
}
/** 20pc=1.25em**/
/**  **/

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1.25em;
  padding: 0 10px;
}

/* Main */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spaceContainer{
  max-width: 300px;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
}

.flexCol {
  font-display: flex;
  flex-direction: column;
}

.card{
  border: 2px solid black; 
  max-width: 300;
}

.cardText .cardImg {
  width: 50%;
}

.projectContainer{
  display: flex;
}

/*footer */
footer {
  display: flex;
  justify-content: center;

}


@media (max-width 426px) {
  body {
    /* background-color: yellow; */
  }

  .aboutContainer {
    flex-direction: column;
  }

  .projectContainer{
    flex-direction: column;
  }
}